*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #BCEAD5;
    font-family: serif;
    margin-bottom: 10px;
}

.title{
    font-size: 18px;
    font-family: monospace;
}

.nav{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0px;
}

.nav li{
    display: inline-block;
}

.nav a{
    color: #DEF5E5;
    background-color: #8EC3B0;
    padding: 5;
    border-radius: 4px;
    text-decoration: none;
}

.nav .nav__blog{
    background-color: red;
}