p {
    color: aqua;
    font-size: 40px;
}

.parrafo{
    color: red;
    font-size: 80px;
}

#elid{
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}