.main-nav{
    margin-top: 10px;
    list-style: none;
    padding: 0px;
    background-color: #13a4a4;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    color: white;
    padding: 5px;
    /* border-radius: 6px; */
    text-decoration: none;
}

.main-nav__item a:hover{
    color: rgb(92, 100, 110);
}
.main-nav__item a:active{
    color: blueviolet;
}

.main-nav__item a::after{
    content: " | ";
}