*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

/* el medidor "rem"(16px), puede cambiarse po la etiqueta html  */


p{
    font-size: 1.6rem;
}

main div{
    font-size: 1.6rem;
}