
body{
    background-color: #161616;
}

.parent{
    margin-top: 50px;
    border-radius: 1rem;
    background-image: url("./assets/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat, repeat;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    margin-left: 20%;
    width: 500px;
    height: 500px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.box{
    background-color: #4FA095;
}

#one{
    font-family: 'Rowdies', cursive;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 1rem;
    top: 90px;
    width: 250px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 3;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

#two{
    background: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Rowdies', cursive;
    color: aliceblue;
    padding: 50px;
    border-radius: 2rem;
    position: relative;
    width: 400px;
    height: 350px;
    top: 100px;
    z-index: 2;
}

#one:hover, #two:hover{
   background-color:rgba(0, 0, 0, 0);
}